/**
 * Created by rafaelguerreroclemente
 */
/**
 * Created by rafaelguerreroclemente
 */
.article {
  background-color: white;
  border: 1px solid #CCC;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 11px; }
