/**
 * Created by rafaelguerreroclemente
 */
/**
 * Created by rafaelguerreroclemente
 */
/**
 * Created by rafaelguerreroclemente
 */
/**
 * Created by rafaelguerreroclemente
 */
.content {
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 42px;
  padding: 40px 70px; }

/**
 * Created by rafaelguerreroclemente
 */
.topUiComponent {
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  border-bottom: 1px solid black;
  background-color: beige; }
  .topUiComponent__logo {
    height: 100%;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    box-sizing: border-box; }
  .topUiComponent__search {
    position: absolute;
    width: 50%;
    top: 5px;
    bottom: 5px;
    background-color: white;
    display: inline-block;
    border: 1px solid black; }
  .topUiComponent__login {
    background-color: brown;
    position: absolute;
    width: 20%;
    right: 0;
    top: 0;
    bottom: 0; }

/**
 * Created by rafaelguerreroclemente
 */
.leftUiComponent {
  top: 42px;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid black; }

/**
 * Created by rafaelguerreroclemente
 */
.rightUiComponent {
  top: 42px;
  right: 0;
  width: 200px;
  height: 100%; }
  .rightUiComponent__ad {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 160px;
    height: 600px;
    background-color: green; }

.uiComponent {
  position: fixed;
  z-index: 1; }

body {
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: #eee; }
