<html lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="/fragments/header :: header"></head>

    <body class="articleCreation">
        <div th:replace="/fragments/ui :: ui"></div>

        <div class="content">
            <form method="post" class="stl-form-post">
                Title:<br>
                <input type="text" name="title" value="Title"><br>

                Body:<br>
                <input type="text" name="body" value="Body"><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>